# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

bun.lock
package-lock.json
pnpm-lock.json
bun.lockb

build
build/*
upload
upload/*
uploads
uploads/*

.env

.cursor

.cursor/

mydata_old
mydata_old/*
./mydata_old
./mydata_old/*

template_example
template_example/*
./template_example
./template_example/*

temp
temp/*
./temp
./temp/*

/scripts
/scripts/*
./scripts
./scripts/*


bun.lock

bun.lockb

bun.lock

.cursor/
.cursor/*

./dist/
./dist/*

./dist-server/
./dist-server/*

./deploy/
./deploy/*

deploy
deploy/*
./deploy
./deploy/*

temp
temp/*
./temp
./temp/*

temp-api
temp-api/*
./temp-api
./temp-api/*

stats.html

